{% extends 'base.html' %}
{%  block body %}
    <div class="main">
   <table class="main_1">
			<tr>
				<td><a id="love" href="{% url 'index' %}">LOVE.KG</a></td>
				<td><em><a href="{% url 'register' %}">Парни</a></em></td>
				<td><em><a href="{% url 'register' %}">Девушки</a></em></td>
				<td><em><a href="{% url 'articles' %}">Статьи</a></em></td>
				<td><em>
                    {% if not user.is_authenticated %}
                        <a href="{% url 'login' %}">Войти</a>
                        <a href="{% url 'register' %}">Регистрация</a>
                    {% else %}
                        <a href="{% url 'profile' %}">Моя страница /</a>
                        <a href="{% url 'logout' %}">Выйти</a>
                    {% endif %}</em></td>
			</tr>
		</table>


    <div class="register">
        <h1>Вход</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Войти">
        </form>
    </div>
    </div>
{%  endblock %}