{% extends 'base.html' %}
{% block body %}

    <div class="main">
    <table class="main_1">
			<tr>
				<td><a id="love" href="{% url 'index' %}">LOVE.KG</a></td>
				<td><em><a href="{% url 'register' %}">Парни</a></em></td>
				<td><em><a href="{% url 'register' %}">Девушки</a></em></td>
				<td><em><a href="{% url 'articles' %}">Статьи</a></em></td>
				<td><em>
                    {% if not user.is_authenticated %}
                        <a href="{% url 'login' %}">Войти</a>
                        <a href="{% url 'register' %}">Регистрация</a>
                    {% else %}
                        <a href="{% url 'profile' %}">Моя страница /</a>
                        <a href="{% url 'logout' %}">Выйти</a>
                    {% endif %}</em></td>
			</tr>
		</table>

    <div class="profile">
        <h1>Моя страница</h1>

        <div class="profileText">
            Имя:{{ user.username }} <br><br>
            Email:{{ user.email }}<br>

        </div>
    </div>



 </div>
{% endblock %}