{% extends 'base.html' %}
{% block body %}

    <div class="main">
   <table class="main_1">
			<tr>
				<td><a id="love" href="{% url 'index' %}">LOVE.KG</a></td>
				<td><em><a href="{% url 'register' %}">Парни</a></em></td>
				<td><em><a href="{% url 'register' %}">Девушки</a></em></td>
				<td><em><a href="{% url 'articles' %}">Статьи</a></em></td>
				<td><em>
                    {% if not user.is_authenticated %}
                        <a href="{% url 'login' %}">Войти</a>
                        <a href="{% url 'register' %}">Регистрация</a>
                    {% else %}
                        <a href="{% url 'profile' %}">Моя страница /</a>
                        <a href="{% url 'logout' %}">Выйти</a>
                    {% endif %}</em></td>
			</tr>
		</table>

    <div class="register">
        <h1>Регистрация</h1>
        <form method="get">
            Логин: <input type="text" name="username"><br>
            email: <input type="email" name="email"><br>
            Пароль: <input type="password" name="password"><br>
            Повторите пароль: <input type="password" name="password2"><br>

            <input type="submit" value="Зарегестрироваться">
        </form>
    </div>
    </div>
{% endblock %}