{% extends 'base.html' %}
{%  block body %}

	<div class="main">
	<table class="main_1">
			<tr>
				<td><a id="love" href="{% url 'index' %}">LOVE.KG</a></td>
				<td><em><a href="{% url 'register' %}">Парни</a></em></td>
				<td><em><a href="{% url 'register' %}">Девушки</a></em></td>
				<td><em><a href="{% url 'articles' %}">Статьи</a></em></td>
				<td><em>
                    {% if not user.is_authenticated %}
                        <a href="{% url 'login' %}">Войти</a>
                        <a href="{% url 'register' %}">Регистрация</a>
                    {% else %}
                        <a href="{% url 'profile' %}">Моя страница /</a>
                        <a href="{% url 'logout' %}">Выйти</a>
                    {% endif %}</em></td>
			</tr>
		</table>
		<div class="main_unit" >
			<div class="advice1">
				<div>
					<h1>Как не раздражать мужчину: советы для мудрой женщины</h1>
				</div>
			</div>
			<div >
				<div>
					<img id="i1" src="https://love.ua/web/uploads/articles/
					russkaya-top-model-anna.jpg" width="1000" height="500">
				</div>
				<div class="text">
					<em>Мы, девушки, очень эмоциональные существа. У нас всегда все бурлит, кипит и выплескивается. Иногда нам тяжело усмирить свой пыл и мы переключаемся на мужчину: начинаем его пилить, учить и доставать глупыми вопросами. В итоге, результат может быть весьма не утешительным. Дабы избежать таких ситуаций, я подготовила для тебя несколько советов, как не раздражать мужчину, а говорить на понятном ему языке.</em>

					<p>Не стремись переделать его под себя.</p>
					<em>
						Сильное возмущение у мужчин вызывает стремление их переделать и подмять под себя. Не стоит постоянно напоминать о его проколах. Этим ты его не просто унижаешь, а оскорбляешь его мужское я. Мужчины - это те же дети - с ними нужно мягко и ласково, помни об этом. Для своего любимого ты должна стать человеком, который всегда подбодрит, поддержит и просто выслушает, а не будет учить и укорять.
					</em>

					<p>Не напоминай ему о прошлых ошибках.</p>
					<em>
						Мы учимся на ошибках. Как в жизни, так и в отношениях. Чтобы построить крепкие и здоровые отношения, нужно прощать друг друга и не таить обиду. Не вздумай припоминать ему как он что-то сделал не так. Все скандалы должны остаться в прошлом. Старайся не провоцировать своего мужчину, если не хочешь новых конфликтов.
					</em>

					<p>Не пытайся им манипулировать.</p>
					<em>
						Этого уж точно никто не любит и терпеть не будет. Забывай про ультиматумы и про "ты мне - я тебе". Вы же не в детском саду, правда? Если хочешь получить положительный результат, поступай как мудрая, терпеливая женщина. Поверь, твои старания будут достойно вознаграждены.
					</em>

					<p>Не используй тон командира.</p>
					<em>
						Запомни, ты в первую очередь девушка: хрупкая, нежная и заботливая, а не мужчина в юбке. На корабле всегда один капитан. А в данном случае - это твой возлюбленный. Он должен нести ответственность за всю семью и принимать решения, а ты покорно идти за ним.
					</em>

					<p>Не говори загадками.</p>
					<em>
						Мужчины совершено не понимают намеков. Для них не понятно, зачем ходить вокруг да около, если можно четко все сказать. Если ты думаешь, что он догадается, что ты мечтаешь о колечке, шубе или новых сапогах, ты глубоко ошибаешься. Лучше скажи чего ты хочешь, а не заставляй его ломать голову.
					</em>

					<p>Не вторгайся в его личное пространство.</p>
					<em>
						Отношения строятся на доверии. Так что, если ты на сто процентов уверена, что он тот самый, постарайся дать ему немного свежего воздуха. Не ворчи, если он хочет встретится с друзьями или съездить на рыбалку. И оставь в покое его мобильный телефон.
					</em>

					<p>P.S. Твоя задача понять своего мужчину и его тонкую душевную организацию.</p>
				</div>
 			</div>			
		</div>
    </div>
{%  endblock %}