{% extends 'base.html' %}
{%  block body %}

	<div class="main">
		<table class="main_1">
			<tr>
				<td><a id="love" href="{% url 'index' %}">LOVE.KG</a></td>
				<td><em><a href="{% url 'register' %}">Парни</a></em></td>
				<td><em><a href="{% url 'register' %}">Девушки</a></em></td>
				<td><em><a href="{% url 'articles' %}">Статьи</a></em></td>
				<td><em>
                    {% if not user.is_authenticated %}
                        <a href="{% url 'login' %}">Войти</a>
                        <a href="{% url 'register' %}">Регистрация</a>
                    {% else %}
                        <a href="{% url 'profile' %}">Моя страница /</a>
                        <a href="{% url 'logout' %}">Выйти</a>
                    {% endif %}</em></td>
			</tr>
		</table>
		
		<div class="main_unit" >
			<div class="advice1">
				<div>
					<h1>5 типов мужчин, которых нужно повстречать хоть раз в жизни</h1>
				</div>
			</div>
			
			<div>
				<div>
					<img id="i1" src="https://love.ua/web/uploads/articles/kostyum-babochka-svadba-ulybka.jpg" width="1000" height="500">
				</div>
				
				<div class="text">
					<em>
						Ох уж эти мужчины! Они вызывают у нас самые разные чувства: от удовольствия, радости, восторга до ревности, разочарования и отчаянья. У каждого из них своя тактика, но цель всегда одна - влюбить в себя. Давай выясним, какие типы мужчин входят в топ самых сексуальных и желанных по мнению женщин.
					</em>

					<p>Авантюрист</p>
					<em>
						Он всегда действует по принципу “Вижу цель - не вижу препятствий”, так как всегда знает, чего хочет от этой жизни. Уверен в себе, не боится рисковать и бросается в омут с головой. Влюбит в себя мгновенно благодаря своей дерзости и неугомонному нраву. С ним не соскучишься.
					</em>

					<p>Как его заинтересовать?</p>
					<em>
						Забудь о истериках и прочих женских слабостях - с ним это не пройдет. В девушках он ценит ум и остроумие в первую очередь. Будь с ним строптивой и недоступной, тогда его глаза точно начнут гореть и он приступит к плану действий по завоеванию твоего сердца.
					</em>

					<p>Гений</p>
					<em>
						Он гений - и этим все сказано. Его огромный плюс - преданность в любви, а минус - неспособность к размеренной семейной жизни. Если ты готова с этим смириться, то иди на абордаж.
					</em>

					<p>Как его заинтересовать?</p>
					<em>
						Единственный способ его заинтересовать - разделить вместе с ним его интересы, спрашивать обо всем непонятном и внимательно слушать.
					</em>

					<p>Свободный художник</p>
					<em>
						Такому мужчине девушка нужна, как воздух. Она для него муза и вечный источник вдохновения. Будь готова к перепадам настроения, сумасшедшей ревности и душевным мукам - это то, что движет его творчество.
					</em>

					<p>Как его заинтересовать?</p>
					<em>
						Принимай его таким, какой он есть: нежным и свирепым, пьяным и жалким, в депрессии и в творческом кризисе. И, конечно же, старайся стать для него идеалом и совершенством во всем.
					</em>

					<p>Простой парень</p>
					<em>
						Это настоящий алмаз в неприметной обертке. Если ты раскрыла такое сокровище, то ты, без сомнения, особенная. Он часто находится один и очень молчалив, свои наполеоновские планы хранит глубоко внутри, отчего кажется скрытным и замкнутым в себе.
					</em>

					<p>Как его заинтересовать?</p>
					<em>
						Способ только один - завоевать доверие. Ведь благодаря врожденному темпераменту или ввиду тяжелых жизненных испытаний, такой тип почти потерял доверие к людям.
					</em>

					<p>Мистер Успех (карьерист)</p>
					<em>
						Чаще всего такие мужчины работают на руководящих постах и стремятся как можно быстрее и выше продвинуться по карьерной лестнице. Они постоянно заняты - переговорами, чтением писем, отслеживанием новинок на сайте, покупкой машины. В основном такие мужчины спокойны, уверены в себе, свои действия просчитывают наперед.
					</em>

					<p>Как заинтересовать?</p>
					<em>
						Привлечь его внимание проще, чем удержать рядом с собой. Тебе понадобиться терпение и ловкость. Нельзя быть для него ”прочитанной книгой”. Он должен хотеть разгадать тебя и завоевать твое сердце.
					</em>

				</div>
 			</div>			
		</div>
    </div>

{%  endblock %}