{% extends 'base.html' %}
{%  block body %}

	<div class="main">
		<table class="main_1">
			<tr>
				<td><a id="love" href="{% url 'index' %}">LOVE.KG</a></td>
				<td><em><a href="{% url 'register' %}">Парни</a></em></td>
				<td><em><a href="{% url 'register' %}">Девушки</a></em></td>
				<td><em><a href="{% url 'articles' %}">Статьи</a></em></td>
				<td><em>
                    {% if not user.is_authenticated %}
                        <a href="{% url 'login' %}">Войти </a>
                        <a href="{% url 'register' %}"> Регистрация</a>
                    {% else %}
                        <a href="{% url 'profile' %}">Моя страница /</a>
                        <a href="{% url 'logout' %}">Выйти</a>
                    {% endif %}</em></td>
			</tr>
		</table>
		<div class="main_unit">
			<div id="articles" width="1200px">
				<h1 >Советы и Статьи</h1>
			</div>
			<div class="main_unit2">
                <table class="articleTable"; border="1">
                    <form>
                      <input class="articleKey" type="text" name="key" placeholder="Поиск...">
                     <input type="submit" value="Поиск">
                    </form><br><br>
                    {% if articles %}
                        {% for article in articles %}
                            <td>
                            {% if forloop.counter == 1 %}
                                <th><img src="https://love.ua/web/uploads/articles/russkaya-top-model-anna.jpg" width="500" height="300">
                                    <br><br>
                                    <a href="{% url 'advice1' %}">{{ article.name }}</a></th>
                            {% else %}
                                <th><img src="https://love.ua/web/uploads/articles/kostyum-babochka-svadba-ulybka.jpg" width="500" height="300">
                                    <br><br>
                                    <a href="{% url 'advice2' %}">{{ article.name }}</a></th>
                            {% endif %}
                            </td>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="6">Ничего не найдено</td>
                        </tr>
                    {% endif %}
                </table>
			</div>
		</div>
    </div>
{%  endblock %}