{%  load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Love.kg</title>
    <link href="{%  static 'css/1.css' %}" rel="stylesheet">
    <script src="{%  static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
</head>
<body>
    {%  block body %}
    {% endblock %}
</body>
</html>