<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>Чат</h2>
    {% if username %}
        <b>User: {{ username }}</b><br>
    {% else %}
        <form method="post">
            {% csrf_token %}
            <input placeholder="Введите имя" name="username">
            <input type="submit" value="OK">
        </form>
    {% endif %}
</body>
</html>