{% extends 'base.html' %}
{%  block body %}

	<script type="text/javascript">

			function show(state){

					document.getElementById('window').style.display = state;			
					document.getElementById('wrap').style.display = state; 			
			}
			
    </script>
	<div class="main">


        <table class="main_1">
			<tr>
				<td><a id="love" href="{% url 'index' %}">LOVE.KG</a></td>
				<td><em><a href="{% url 'register' %}">Парни</a></em></td>
				<td><em><a href="{% url 'register' %}">Девушки</a></em></td>
				<td><em><a href="{% url 'articles' %}">Статьи</a></em></td>
				<td><em>
                    {% if not user.is_authenticated %}
                        <a href="{% url 'login' %}">Войти</a>
                        <a href="{% url 'register' %}">Регистрация</a>
                    {% else %}
                        <a href="{% url 'profile' %}">Моя страница /</a>
                        <a href="{% url 'logout' %}">Выйти</a>
                    {% endif %}</em></td>
			</tr>
		</table>

        <div><h1 id="name">LOVE.KG</h1></div>

        <script>
            function onTitleClick() {
                $("#feedback2").toggleClass("open")

            }

            function onSuccess(response) {
                if(response === "success"){
                    alert("Ваше сообщение успешно отправлено");
                    $("#feedback2").removeClass("open");
                    $("#fb-name").val("");
                    $("#fb-email").val("");
                    $("#fb-message").val("");
                }
                else{
                    alert("Попробуйте ещё раз");
                }
            }
            function onError() {
                alert("Попробуйте ещё раз");
            }

            function submitFeedback() {
                var name = $("#fb-name").val();
                var email = $("#fb-email").val();
                var message = $("#fb-message").val();

                $.ajax("/fb/", {
                    data: {
                        name: name,
                        email: email,
                        message: message
                    },
                    success:onSuccess,
                    error:onError
                });
                return false;
            }

            function onReady() {
                $("#feedback2 .title").on("click", onTitleClick)
                $("#submit-feedback").on("click",submitFeedback);
            }

            $(document).ready(onReady);
        </script>
		<div class="w">
        <div id="feedback2">
                <div class="title">
                    Написать нам
                </div>
                <form>
                    <input type="text" id="fb-name" placeholder="Имя">
                    <input type="email" id="fb-email" placeholder="Email">
                    <textarea id="fb-message" placeholder="Сообщение"></textarea>
                    <input id="submit-feedback" type="submit" value="Отправить">
                </form>
            </div></div>

		<img id="gl" src="https://i.ytimg.com/vi/tGo4T6xBEV4/maxresdefault.jpg" width="1450" height="700" />

	</div>
{%  endblock %}