.main{
	position: relative;
	margin: auto;
	width: 1500px;
	height: 700px;
	
}
#gl{
margin-left: 25px; 
}

.main_1{
	position:absolute;
	margin-top: 5px;
	background:#A70E24;
	width: 1500px;
	height: 70px;
	opacity: 0.95;
	text-align: center;
}
.main_1 a{
	font-weight:bold;
	text-decoration: none;
	font-size: 20px;
	color:#FFF;
}
#love{
	margin-top: 15px;
	font-size: 30px;
	margin-left: -20px;
}

#name{
	position: absolute;
	color: #A70E24;
	margin-top: 350px;
	margin-left: 620px;
	font-size: 50px;
}

.w a{
	font-weight:bold;
	text-decoration: none;
}

.w{
	position: absolute;
	margin-top: 680px;
	width: 1500px;
	height: 50px;
	background: #FFFFFF;
}
.block{
	position: absolute;
	background: #FFFFFF;
	width: 400px;
	height: 500px;
	margin-top: 120px;
	margin-left: 1000px;
	color: black;
}
#articles{
	color: #333A48;
	border-bottom: 3px solid #e1e4e9;
	width: 1200px;
	font-size: 30px;
	margin-left: -100px;
}
.main_unit{
	margin-top: 100px;
	position: absolute;
	margin-left: 250px;
}
.main_unit2{
	margin-top: 20px;
	color: #333A48;
	margin-left: -70px;
}

.articleTable{
	margin-left: 50px;
}

.articleKey{
	width: 500px;
	margin-left: 200px;
}

.articleTable a{
	color: #323846;
	font-weight:bold;
	text-decoration: none;
	font-size: 18px;
}

h2{

	color: #333A48;
	font-size: 25px;
}
.advice1{
	color: #333A48;
	border-bottom: 3px solid #e1e4e9;
	width: 1200px;
	font-size: 30px;
	margin-left: -100px;
}
.advice1 h1{
	font-size: 45px;
}
#i1{
	margin-top: 15px;
}
.text{
	margin-left: -100px;
	margin-top: 10px;
	font-size: 18px;
	width: 1200px;
}
.text p{
	font-size: 20px;
}


#table_2{
	margin-top: 10px;
}
.lable {
    text-align: right;
	clear:left; 
	display:block;
	padding-right:4px; 
    font-size: 18px;
	font-family: "Times New Roman", Times, serif;
}

.input {
	text-align: left;
	background-color:#F0F0F0;
	border: 0px;
	font-size: 18px;
	font-weight:bold;
	font-family: Arial, Helvetica, sans-serif;
	color: #1C5455;
}

.log {
	background-image: url("http://shop.tvorchestvo.kz/files/import_files/9f/fon-serdechki.jpeg");
	width: 600px;
	height: 300px;
	position: absolute;
	border: 3px solid gray;
	margin-top:200px;
	margin-left: 450px;
	text-align: center;
	font-size: 20px;
}

.register{
	background-image: url("http://shop.tvorchestvo.kz/files/import_files/9f/fon-serdechki.jpeg");
	width: 600px;
	height: 400px;
	position: absolute;
	border: 3px solid gray;
	margin-top:200px;
	margin-left: 450px;
	text-align: center;
	font-size: 20px;
}

#feedback{
	font-size: 20px;
	position: absolute;
	color: black;
	margin-top: 20px;
	margin-left: 25px;
}

#view-feedback{
	font-size: 20px;
	position: absolute;
	color: black;
	margin-top: 20px;
	margin-left: 1200px;
}

.profile{
	margin-top: 100px;
	position: absolute;

}

.profileText{
	color: #323846;
	font-size: 18px;
}

#feedback2{
	position: fixed;
	bottom: 0;
	right: 0;
	width: 200px;
	height: 35px;
	border: 1px solid black;
	background: gray;
	border-radius: 10px 0 0;
}

#feedback2 form{
	display: none;
}

#feedback2 .title{
	font-weight: bold;
	cursor: pointer;
	font-size: 16px;
	padding-top: 4px;
	padding-left: 15px;

}
#feedback2.open{
	height: auto;
}

#feedback2.open form{
	display: block;
}

